.settings {
    width: 100%;
    display: inline-block;
    margin: 5px;
}

.settings .inner {
    padding: 5px;
    display: inline;
}


select[multiple="multiple"] {
    width: 100px;
}

/**/

.spinner {
    background-image: url(media/spinner.gif);
    display: none;
    width: 24px;
    height: 24px;
}

.red {
    color: red;
}

/*  table and container */

.table-container {
    margin: 20px;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
}

.table-container a {
    float: right;
    margin-right: 10px;
    display: none;
}



table {
    margin-right: 30px;
    width: 100%;
}

table th {
    color: white;
    background-color: blue;
    min-width: 50px;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}

table td {
    min-width: 50px;
}
